.widget{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    border-radius: 10px;
    margin-bottom: 20px;
}
.widget-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.widget-header >h4{
    margin: 0;
}
.widget-header svg{
    font-size: 18px;
}
ul.widget-options{
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    list-style: circle;
}
ul.widget-options li{
    margin-bottom: 10px;
}
.widget-body{
    margin-top: 10px;
}
ul.widget-options h4{
    margin: 0px;
    font-weight: normal;
    font-size: 15px;
}
ul.widget-options p{
    margin: 0px;
    color: #959595;
    font-size: 12px;
}
.widget-top{
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

.widget-bottom{
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 60px;
}
